# id-utils files
ID
arcanist/.phutil_module_cache

# Python byte-compiled files
*.pyc

# Build directories
/build*/

# Local shared state cache
/.sstate/
/meta-exanest/meta-track1/cache/bb_persist_data.sqlite3
